
{% load staticfiles %}

<link href="{% static 'WebDevelopment/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'WebDevelopment/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'WebDevelopment/css/animate.min.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'WebDevelopment/css/lightbox.css' %}" rel="stylesheet" media="screen">
<link href="{% static 'WebDevelopment/css/syntax/shCore.css' %}" rel="stylesheet"  media="screen">
<link href="{% static 'WebDevelopment/css/syntax/shThemeDefault.css' %}" rel="stylesheet"  media="screen">

<link href="{% static 'WebDevelopment/css/style.css' %}" rel="stylesheet" media="screen" title="default">
<link href="{% static 'WebDevelopment/css/color-default.css' %}" rel="stylesheet" media="screen" title="default">
<link href="{% static 'WebDevelopment/css/width-full.css' %}" rel="stylesheet" media="screen" title="default">