
{% load staticfiles %}

<!-- Scripts -->
<script src="{% static 'WebDevelopment/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'WebDevelopment/js/jquery.cookie.js' %}"></script>
<script src="{% static 'WebDevelopment/js/bootstrap.min.js' %}"></script>
<script src="{% static 'WebDevelopment/js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'WebDevelopment/js/lightbox-2.6.min.js' %}"></script>
<script src="{% static 'WebDevelopment/js/holder.js' %}"></script>
<script src="{% static 'WebDevelopment/js/app.js' %}"></script>
<script src="{% static 'WebDevelopment/js/styleswitcher.js' %}"></script>

<script src="{% static 'WebDevelopment/js/syntax/shCore.js' %}"></script>
<script src="{% static 'WebDevelopment/js/syntax/shBrushXml.js' %}"></script>
<script src="{% static 'WebDevelopment/js/syntax/shBrushJScript.js' %}"></script>

<script type="text/javascript">
    SyntaxHighlighter.all()
</script>